In [ ]:
pip install sodapy

In [1]:
#add dependencies
import requests
import json
import pandas as pd
from sodapy import Socrata

In [ ]:
#client = Socrata("data.cdc.gov", None)

In [2]:
client = Socrata('data.cdc.gov', 
                  '2a6M2xadlitlChvZssCcGyMYI',
                  "roudyb3@gmail.com",
                  "D@taisfun2020")

In [12]:
results = client.get("8xkx-amqh", limit = 10000)

In [13]:
results_df = pd.DataFrame.from_records(results)

In [14]:
results_df

,date,fips,mmwr_week,recip_county,recip_state,series_complete_pop_pct,series_complete_yes,series_complete_12plus,series_complete_12pluspop,series_complete_18plus,...,svi_ctgy,series_complete_pop_pct_svi,series_complete_12pluspop_pct_svi,series_complete_18pluspop_pct_svi,series_complete_65pluspop_pct_svi,metro_status,series_complete_pop_pct_ur_equity,series_complete_12pluspop_pct_ur_equity,series_complete_18pluspop_pct_ur_equity,series_complete_65pluspop_pct_ur_equity
0,2021-10-25T00:00:00.000,13271,43,Telfair County,GA,17.9,2845,2845,20.0,2699,...,D,13,13,13,13,Non-metro,5,5,5,5
1,2021-10-25T00:00:00.000,18075,43,Jay County,IN,35.1,7165,7165,42.1,6910,...,C,10,11,11,12,Non-metro,6,7,7,8
2,2021-10-25T00:00:00.000,26127,43,Oceana County,MI,49.7,13149,13149,57.9,12505,...,D,15,16,16,16,Non-metro,7,8,8,8
3,2021-10-25T00:00:00.000,28161,43,Yalobusha County,MS,59.3,7175,7174,69.1,6867,...,C,12,12,12,12,Non-metro,8,8,8,8
4,2021-10-25T00:00:00.000,30001,43,Beaverhead County,MT,49,4636,4636,55.1,4424,...,B,7,8,8,8,Non-metro,7,8,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2021-10-22T00:00:00.000,12073,42,Leon County,FL,51,149816,149813,58.2,140496,...,B,8,8,8,8,Metro,4,4,4,4
9996,2021-10-22T00:00:00.000,27057,42,Hubbard County,MN,41.3,8884,8873,48.0,8527,...,A,3,3,4,4,Non-metro,7,7,8,8
9997,2021-10-22T00:00:00.000,49019,42,Grand County,UT,58.5,5705,5705,68.3,5429,...,C,12,12,12,12,Non-metro,8,8,8,8
9998,2021-10-22T00:00:00.000,16033,42,Clark County,ID,32.7,276,NaN,NaN,276,...,D,14,NaN,15,14,Non-metro,6,NaN,7,6
9999,2021-10-22T00:00:00.000,17061,42,Greene County,IL,36.5,4735,4730,42.2,4555,...,A,2,3,3,3,Non-metro,6,7,7,7

In [15]:
#results_df.info()

In [16]:
import matplotlib

In [17]:
results_df['series_complete_yes'] = results_df['series_complete_yes'].astype(int)

In [18]:
results_df['series_complete_pop_pct'] = pd.to_numeric(results_df['series_complete_pop_pct'])

In [19]:
results_df['total'] = results_df['series_complete_yes'].div(results_df['series_complete_pop_pct'].values)

In [20]:
results_df['total'] = results_df['total']*100

In [21]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 33 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   date                                     10000 non-null  object
 1   fips                                     10000 non-null  object
 2   mmwr_week                                10000 non-null  object
 3   recip_county                             10000 non-null  object
 4   recip_state                              10000 non-null  object
 5   series_complete_pop_pct                  10000 non-null  float64
 6   series_complete_yes                      10000 non-null  int64
 7   series_complete_12plus                   9864 non-null   object
 8   series_complete_12pluspop                9864 non-null   object
 9   series_complete_18plus                   10000 non-null  object
 10  series_complete_18pluspop                10000 non-null  object
 11  series_complete_65plus                   10000 non-null  object
 12  series_complete_65pluspop                10000 non-null  object
 13  completeness_pct                         10000 non-null  object
 14  administered_dose1_recip                 9704 non-null   object
 15  administered_dose1_pop_pct               10000 non-null  object
 16  administered_dose1_recip_12plus          9354 non-null   object
 17  administered_dose1_recip_12pluspop_pct   9864 non-null   object
 18  administered_dose1_recip_18plus          9487 non-null   object
 19  administered_dose1_recip_18pluspop_pct   10000 non-null  object
 20  administered_dose1_recip_65plus          9487 non-null   object
 21  administered_dose1_recip_65pluspop_pct   10000 non-null  object
 22  svi_ctgy                                 9806 non-null   object
 23  series_complete_pop_pct_svi              9771 non-null   object
 24  series_complete_12pluspop_pct_svi        9635 non-null   object
 25  series_complete_18pluspop_pct_svi        9771 non-null   object
 26  series_complete_65pluspop_pct_svi        9771 non-null   object
 27  metro_status                             9806 non-null   object
 28  series_complete_pop_pct_ur_equity        9765 non-null   object
 29  series_complete_12pluspop_pct_ur_equity  9629 non-null   object
 30  series_complete_18pluspop_pct_ur_equity  9768 non-null   object
 31  series_complete_65pluspop_pct_ur_equity  9762 non-null   object
 32  total                                    9965 non-null   float64
dtypes: float64(2), int64(1), object(30)
memory usage: 2.5+ MB

In [ ]:
#results_df.head()

In [22]:
results_df = results_df[['date', 'fips', 'recip_county', 'recip_state', 'series_complete_yes', 'total', 'series_complete_12plus', 'series_complete_18plus', 'series_complete_65plus', 'metro_status']]

In [23]:
results_df.head()

,date,fips,recip_county,recip_state,series_complete_yes,total,series_complete_12plus,series_complete_18plus,series_complete_65plus,metro_status
0,2021-10-25T00:00:00.000,13271,Telfair County,GA,2845,15893.854749,2845,2699,756,Non-metro
1,2021-10-25T00:00:00.000,18075,Jay County,IN,7165,20413.105413,7165,6910,2961,Non-metro
2,2021-10-25T00:00:00.000,26127,Oceana County,MI,13149,26456.740443,13149,12505,4618,Non-metro
3,2021-10-25T00:00:00.000,28161,Yalobusha County,MS,7175,12099.494098,7174,6867,2509,Non-metro
4,2021-10-25T00:00:00.000,30001,Beaverhead County,MT,4636,9461.224490,4636,4424,1823,Non-metro

In [24]:
results_df = results_df.rename(columns = {'recip_state': 'state',
                                          'series_complete_yes': 'total vaccinated',
                                          'total': 'total population' })

In [25]:
results_df.head()

,date,fips,recip_county,state,total vaccinated,total population,series_complete_12plus,series_complete_18plus,series_complete_65plus,metro_status
0,2021-10-25T00:00:00.000,13271,Telfair County,GA,2845,15893.854749,2845,2699,756,Non-metro
1,2021-10-25T00:00:00.000,18075,Jay County,IN,7165,20413.105413,7165,6910,2961,Non-metro
2,2021-10-25T00:00:00.000,26127,Oceana County,MI,13149,26456.740443,13149,12505,4618,Non-metro
3,2021-10-25T00:00:00.000,28161,Yalobusha County,MS,7175,12099.494098,7174,6867,2509,Non-metro
4,2021-10-25T00:00:00.000,30001,Beaverhead County,MT,4636,9461.224490,4636,4424,1823,Non-metro

In [26]:
results_df

,date,fips,recip_county,state,total vaccinated,total population,series_complete_12plus,series_complete_18plus,series_complete_65plus,metro_status
0,2021-10-25T00:00:00.000,13271,Telfair County,GA,2845,15893.854749,2845,2699,756,Non-metro
1,2021-10-25T00:00:00.000,18075,Jay County,IN,7165,20413.105413,7165,6910,2961,Non-metro
2,2021-10-25T00:00:00.000,26127,Oceana County,MI,13149,26456.740443,13149,12505,4618,Non-metro
3,2021-10-25T00:00:00.000,28161,Yalobusha County,MS,7175,12099.494098,7174,6867,2509,Non-metro
4,2021-10-25T00:00:00.000,30001,Beaverhead County,MT,4636,9461.224490,4636,4424,1823,Non-metro
...,...,...,...,...,...,...,...,...,...,...
9995,2021-10-22T00:00:00.000,12073,Leon County,FL,149816,293756.862745,149813,140496,36453,Metro
9996,2021-10-22T00:00:00.000,27057,Hubbard County,MN,8884,21510.895884,8873,8527,4099,Non-metro
9997,2021-10-22T00:00:00.000,49019,Grand County,UT,5705,9752.136752,5705,5429,1504,Non-metro
9998,2021-10-22T00:00:00.000,16033,Clark County,ID,276,844.036697,NaN,276,73,Non-metro
9999,2021-10-22T00:00:00.000,17061,Greene County,IL,4735,12972.602740,4730,4555,1724,Non-metro

In [27]:
results_df['date'] = pd.to_datetime(results_df['date']).dt.date

In [28]:
results_df

,date,fips,recip_county,state,total vaccinated,total population,series_complete_12plus,series_complete_18plus,series_complete_65plus,metro_status
0,2021-10-25,13271,Telfair County,GA,2845,15893.854749,2845,2699,756,Non-metro
1,2021-10-25,18075,Jay County,IN,7165,20413.105413,7165,6910,2961,Non-metro
2,2021-10-25,26127,Oceana County,MI,13149,26456.740443,13149,12505,4618,Non-metro
3,2021-10-25,28161,Yalobusha County,MS,7175,12099.494098,7174,6867,2509,Non-metro
4,2021-10-25,30001,Beaverhead County,MT,4636,9461.224490,4636,4424,1823,Non-metro
...,...,...,...,...,...,...,...,...,...,...
9995,2021-10-22,12073,Leon County,FL,149816,293756.862745,149813,140496,36453,Metro
9996,2021-10-22,27057,Hubbard County,MN,8884,21510.895884,8873,8527,4099,Non-metro
9997,2021-10-22,49019,Grand County,UT,5705,9752.136752,5705,5429,1504,Non-metro
9998,2021-10-22,16033,Clark County,ID,276,844.036697,NaN,276,73,Non-metro
9999,2021-10-22,17061,Greene County,IL,4735,12972.602740,4730,4555,1724,Non-metro

In [34]:
results_df = results_df.dropna()

In [35]:
results_df

,date,fips,recip_county,state,total vaccinated,total population,series_complete_12plus,series_complete_18plus,series_complete_65plus,metro_status
0,2021-10-25,13271,Telfair County,GA,2845,15893.854749,2845,2699,756,Non-metro
1,2021-10-25,18075,Jay County,IN,7165,20413.105413,7165,6910,2961,Non-metro
2,2021-10-25,26127,Oceana County,MI,13149,26456.740443,13149,12505,4618,Non-metro
3,2021-10-25,28161,Yalobusha County,MS,7175,12099.494098,7174,6867,2509,Non-metro
4,2021-10-25,30001,Beaverhead County,MT,4636,9461.224490,4636,4424,1823,Non-metro
...,...,...,...,...,...,...,...,...,...,...
9994,2021-10-25,47185,White County,TN,10450,27356.020942,10450,10154,4321,Non-metro
9995,2021-10-25,12073,Leon County,FL,149816,293756.862745,149813,140496,36453,Metro
9996,2021-10-25,27057,Hubbard County,MN,8884,21510.895884,8873,8527,4099,Non-metro
9997,2021-10-25,49019,Grand County,UT,5705,9752.136752,5705,5429,1504,Non-metro
9999,2021-10-25,17061,Greene County,IL,4735,12972.602740,4730,4555,1724,Non-metro

In [33]:
results_df = results_df[results_df['date'] == '2021-10-25']

In [36]:
results_df = results_df.set_index('date')

In [37]:
pd.set_option('display.float_format', lambda x: '%.3f' %x)

In [ ]:
#results_df['state'] == 'GA'

In [39]:
results_df.drop_duplicates()

,fips,recip_county,state,total vaccinated,total population,series_complete_12plus,series_complete_18plus,series_complete_65plus,metro_status
date,,,,,,,,,
2021-10-25,13271,Telfair County,GA,2845,15893.855,2845,2699,756,Non-metro
2021-10-25,18075,Jay County,IN,7165,20413.105,7165,6910,2961,Non-metro
2021-10-25,26127,Oceana County,MI,13149,26456.740,13149,12505,4618,Non-metro
2021-10-25,28161,Yalobusha County,MS,7175,12099.494,7174,6867,2509,Non-metro
2021-10-25,30001,Beaverhead County,MT,4636,9461.224,4636,4424,1823,Non-metro
...,...,...,...,...,...,...,...,...,...
2021-10-25,19131,Mitchell County,IA,4736,10595.078,4736,4499,1819,Non-metro
2021-10-25,47185,White County,TN,10450,27356.021,10450,10154,4321,Non-metro
2021-10-25,12073,Leon County,FL,149816,293756.863,149813,140496,36453,Metro
2021-10-25,27057,Hubbard County,MN,8884,21510.896,8873,8527,4099,Non-metro
2021-10-25,17061,Greene County,IL,4735,12972.603,4730,4555,1724,Non-metro

In [ ]:
#results_df_2[results_df_2['recip_state'] == 'HI']

In [40]:
results_df = results_df.groupby(['date', 'state']).sum()

In [41]:
results_df

                  total vaccinated  total population
date       state
2021-10-25 AK              1101605       2177704.609
           AL              6086773      14831540.623
           AR              4157784       9607901.529
           AZ             11235887      21833992.510
           CA             70130934     118247593.555
           CO             10289364      17280001.645
           CT              7399413      10695930.300
           DC              1249751       2117026.115
           DE              1674207       2921303.361
           FL             38011341      64985307.876
           GA              8893293      32469841.501
           HI                 1986               inf
           IA              5106724       9496995.018
           IL             20377711      38296051.895
           IN             10112614      20655257.314
           KS              4340281       8778842.491
           KY              7071140      13739088.484
           LA              6414779      14039686.283
           MA             12842370      20681129.833
           MD             11862748      18292106.095
           ME              2755419       4083249.554
           MI             15790793      30306254.030
           MN              9512522      17006834.404
           MO              8423790      18701043.326
           MS              3999405       8976079.504
           MT              1536012       3214222.469
           NC             16090358      31629702.105
           ND               997947       2290150.705
           NE              2927018       5827735.106
           NH              2404329       4078844.763
           NJ             16448986      26646994.687
           NM              3495379       6294178.200
           NV              4602835       9238931.691
           NY             39244711      61064044.729
           OH             17967153      35352584.005
           OK              5535415      11886462.270
           OR              7975477      13042562.329
           PA             22334086      39359064.374
           PR              6724124       9623204.124
           RI              2083242       3177838.003
           SC              7180569      15445864.244
           SD              1367507       2722630.057
           TN              9990714      21600608.921
           TX             47018358      89255147.493
           UT              4979470       9642082.524
           VA             13352331      25760276.825
           VT               977866       1871965.401
           WA             13830643      22839977.441
           WI             10208420      18213580.588
           WV              1323246       5383229.932
           WY               774759       1835443.854

In [ ]:
results_df_test1['pct vaccinated'] = results_df['total vaccinated'].div(results_df['total population'].values)

In [ ]:
results_df_test1