In [4]:
!pip install census

Collecting census
  Downloading census-0.8.18-py3-none-any.whl (11 kB)
Requirement already satisfied: requests>=1.1.0 in c:\users\pippi\anaconda3\lib\site-packages (from census) (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\pippi\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\pippi\anaconda3\lib\site-packages (from requests>=1.1.0->census) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\pippi\anaconda3\lib\site-packages (from requests>=1.1.0->census) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pippi\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2020.12.5)
Installing collected packages: census
Successfully installed census-0.8.18

In [9]:
!pip install us

Collecting us
  Using cached us-2.0.2.tar.gz (14 kB)
Collecting jellyfish==0.6.1
  Using cached jellyfish-0.6.1.tar.gz (132 kB)
Building wheels for collected packages: us, jellyfish
  Building wheel for us (setup.py): started
  Building wheel for us (setup.py): finished with status 'done'
  Created wheel for us: filename=us-2.0.2-py3-none-any.whl size=11929 sha256=1812341d0d46169f2f035259d646e3b2a3900f5f7e7b6888fb299ed5e1458379
  Stored in directory: c:\users\pippi\appdata\local\pip\cache\wheels\07\4c\fa\a65ed0f9c00360e785327fc370eba55ca575cc3508ab13ed8e
  Building wheel for jellyfish (setup.py): started
  Building wheel for jellyfish (setup.py): finished with status 'done'
  Created wheel for jellyfish: filename=jellyfish-0.6.1-py3-none-any.whl size=10380 sha256=904bfb36444f3be61821764d8b06dcfdb768d5b7feb3f20f8d5b683b1f1a4203
  Stored in directory: c:\users\pippi\appdata\local\pip\cache\wheels\aa\a9\a6\359d736dbeda356e6ab8a7ff70a3db636cefe91df7d09f63dc
Successfully built us jellyfish
Installing collected packages: jellyfish, us
Successfully installed jellyfish-0.6.1 us-2.0.2

In [8]:
# Dependables
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key
from config import census_key
c = Census(census_key, year=2019)

In [19]:
# Get the 2019 ACS Data for alls tates
census_data = c.acs.get(("NAME", "B01003_001E","B19013_001E", "B23025_002E","B23025_005E", "B17001_002E"), {'for': 'state:*'})

In [20]:
# Convert data into a dataframe
census_df = pd.DataFrame(census_data)

In [21]:
# Rename Columns
census_df = census_df.rename(columns={
    "NAME": "State",
    "state": "State Number",
    "B01003_001E": "Total Population",
    "B19013_001E": "Median Household Income",
    "B23025_002E": "Total Labor Force",
    "B23025_005E": "Total Unemployed",
    "B17001_002E": "Total Poverty"
})

In [22]:
census_df.head()

,State,Total Population,Median Household Income,Total Labor Force,Total Unemployed,Total Poverty,State Number
0,Alabama,4876250.0,50536.0,2242785.0,132095.0,795989.0,01
1,Alaska,737068.0,77640.0,392338.0,26808.0,76933.0,02
2,Arizona,7050299.0,58945.0,3346155.0,195905.0,1043764.0,04
3,Arkansas,2999370.0,47597.0,1378722.0,70481.0,496260.0,05
4,California,39283497.0,75235.0,19921547.0,1199233.0,5149742.0,06

In [23]:
#Calculate the Poverty Rate
census_df["Poverty Rate"] = 100 * census_df["Total Poverty"].astype(int) / census_df["Total Population"].astype(int)

In [24]:
print(census_df["Poverty Rate"])

0     16.323794
1     10.437707
2     14.804535
3     16.545475
4     13.109174
5     10.086235
6     11.428595
7     15.467393
8      9.626262
9     13.733313
10    14.692238
11    12.880571
12     9.187086
13    12.198873
14    13.021822
15    11.088425
16    11.603551
17    16.790318
18    18.683520
19    11.466261
20     8.971667
21     9.940249
22    14.034017
23     9.455856
24    19.628149
25    13.268746
26    12.811605
27    10.789832
28    12.942145
29     7.319950
30     9.788598
31    18.737091
32    13.699332
33    14.297211
34    10.333850
35    13.627532
36    15.214665
37    12.918946
38    12.032830
39    11.901467
40    14.771533
41    12.697930
42    14.858803
43    14.409309
44    10.515879
45     9.640028
46    10.239456
47    10.605519
48    17.060647
49    11.037668
50    10.715048
51    43.667746
Name: Poverty Rate, dtype: float64

In [25]:
# Calculate the unemployment rate
census_df["Unemployment Rate"] = 100 * census_df["Total Unemployed"].astype(int) / census_df["Total Labor Force"].astype(int)

In [26]:
print(census_df["Unemployment Rate"])

0      5.889775
1      6.832884
2      5.854630
3      5.112053
4      6.019778
5      4.279700
6      5.454006
7      6.856270
8      6.000335
9      5.550085
10     5.615187
11     4.310898
12     4.024790
13     5.927515
14     4.791388
15     3.728709
16     4.013844
17     5.544601
18     6.433424
19     4.124232
20     5.028579
21     4.823950
22     5.933653
23     3.616737
24     7.405854
25     4.546517
26     4.007100
27     3.322277
28     6.131538
29     3.613580
30     5.503226
31     6.596473
32     5.437452
33     5.473843
34     2.713834
35     5.313585
36     5.028506
37     5.463797
38     5.300738
39     5.362494
40     5.699931
41     3.403924
42     5.233953
43     5.042932
44     3.603933
45     3.566560
46     4.486010
47     4.885408
48     6.536746
49     3.602193
50     4.440598
51    16.046222
Name: Unemployment Rate, dtype: float64

In [27]:
print(census_df.head())

        State  Total Population  Median Household Income  Total Labor Force  \
0     Alabama         4876250.0                  50536.0          2242785.0
1      Alaska          737068.0                  77640.0           392338.0
2     Arizona         7050299.0                  58945.0          3346155.0
3    Arkansas         2999370.0                  47597.0          1378722.0
4  California        39283497.0                  75235.0         19921547.0

   Total Unemployed  Total Poverty State Number  Poverty Rate  \
0          132095.0       795989.0           01     16.323794
1           26808.0        76933.0           02     10.437707
2          195905.0      1043764.0           04     14.804535
3           70481.0       496260.0           05     16.545475
4         1199233.0      5149742.0           06     13.109174

   Unemployment Rate
0           5.889775
1           6.832884
2           5.854630
3           5.112053
4           6.019778

In [28]:
# Save as a csv
census_df.to_csv("census_data.csv", encoding="utf-8", index = False)

In [ ]:
# HOST = "https://api.census.gov/data/"
# year = "2019"
# dataset = "acs/acs1"
# base_url = "/".join([HOST, year, dataset])

# get_vars = ["NAME", ""]

In [ ]:
# POVERTY STATUS IN THE PAST 12 MONTHS BY SEX BY AGE, TOTAL: B17001_001E

In [ ]:
# SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER: SEX BY AGE BY EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER